.navbar-items{
  font-family: "Kodchasan", sans-serif;
  font-weight: 800;
  font-size: large;
}
a:hover{
  color: red;
}
#main-span:hover{
  color: red;
}
.btn-nav{
  display: none;
}
.works-heading{
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 7.5vh;
  font-weight: 300;
}
#footer-heading{
  font-family: 'K2D', sans-serif;
  font-size: medium;
  font-weight: 400;
  position: absolute;
  top: 30px;
  left: 90px;
}
